html,
body {
  height: 100%;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #272822;
}

body::-webkit-scrollbar {
  display: none;
}

#toolbar {
  height: 3em;
  background-color: #4f5148;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
  z-index: 10;
  align-items: space-between;
  list-style-type: none;
  overflow: hidden;
  display: flex;
}

#toolbar li {
  float: left;
}

#toolbar li button {
  height: 3em;
  width: 6em;
  display: block;
  margin: 0.25em 0.25em;
  padding: 0.25em 0.25em;
}

li.push {
  margin-left: auto;
}

#editor {
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  bottom: 10em;
  overflow-y: auto;
  box-sizing: border-box;
}

.prism-code-editor {
  height: 100%;
}

#console {
  white-space: pre;
  background-color: #4f5148;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15em;
}